<div class="comment-container">
  <div class="commentSection">
    <div class="commentInfo">
      <p>{{}} said: (Oct 14, 2022)</p>
      <a href="#">Edit</a>          
    </div>
    <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus suscipit alias ipsum similique? Quae recusandae, pariatur tenetur, repellat quaerat saepe fugit harum, quos modi facere unde deserunt nulla! Suscipit, laboriosam?
    </div>
  </div>
</div>