<div class="comment-container">
  <div class="commentSection">
    <div class="commentInfo">
      <p>{{user.user_name}} said: {{format_date date_created}}</p>
      <div>
        {{#if (check_user user.id this_user)}}
        <button class="no-button" id="edit-comment">Edit</button> | 
        <button class="no-button" id="delete-comment">Delete</button>
        {{/if}}
      </div>        
    </div>
    <div class="content">
      {{content}}
    </div>
  </div>
</div>