<div class="container">
  <div class="blogPost">
    <div class="title bg-primary">
      {{post.title}}
    </div>
    <div class="content bg-success">
      {{post.content}}
    </div>
    <div class="postInfo">
      Posted by: {{post.user.user_name}} on {{format_date post.date_created}}
    </div>
  </div>
</div>
{{#each post.comments as |comment|}}
{{> comments}}
{{/each}}