{{#each user.posts as |post| }}
<a href="/posts/{{post.id}}" class="blog-post">
  <div class="container">
    <div class="blogPost">
      <div class="title bg-primary">
        {{post.title}}
      </div>
      <div class="postInfo">
        Posted on {{post.date_created}}
      </div>
    </div>
  </div>
</a>
{{/each}}

<div class="container display-none" id="post-form">
  <div class="new-post">
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px;">
    <h3>New Post</h3>
    <button class="no-button" id="cancel-post-button">Cancel</button>      
    </div>
    <form class="login-form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" class="form-control" id="post-title">
      </div>
      <div class="form-group">
        <label for="post-content">Content</label>
        <textarea class="form-control" id="post-content" name="post-content" rows="10" cols="4" max-length="250"></textarea>
      </div>   
    </form>
  </div>
  <div class="confirm-post">
    <button type="button" class="btn btn-primary mx-auto px-5" id="confirm-post-button">Post</button>
  </div>
</div>

<div class="newPost">
    <button type="button" class="btn btn-primary mx-auto" id="new-post-button">New Post</button>
</div>

<script src="/scripts/dashboard.js"></script>