<div class="container">
  <div class="login-section">
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px;">
      <h3>Sign in</h3>
      <a href="/signup">Don't have an account?</a>
    </div>
    <form class="login-form">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" id="username-login" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" id="password-login">          
      </div>
      <div class="form-group" style="display: flex; justify-content: space-between;">
          <button type="submit" class="btn btn-primary px-5">Login</button>
          <a href="#">Forgot password?</a>         
      </div>      
    </form>
  </div>
</div>

<script src="/scripts/login.js"></script>