body {
  font-family: "Poppins", sans-serif;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(0, 123, 255);
}
.nav-link{
  text-align: end;
}
.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}
.container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
input[type=text], input[type=password] {
  background-color: rgb(250, 249, 246, 0.3);
}
::placeholder {
  color: black;
  opacity: 1;
}
.blog-post, .blog-post:focus, .blog-post:hover {
  color: unset;
  text-decoration: unset;
}
.no-decor, .no-decor:hover {
  text-decoration: unset;
}
.blogPost {
  padding: 8px;
  border-radius: 4px;
}
.title, .postInfo, .postButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.newPost, .confirm-post {
  display: flex;
  flex-basis: 1;
  margin-top: 30px;
  margin-bottom: 50px;
}
textarea:disabled, textarea, .form-control, .form-control:focus {
  color: black;
  background-color: rgb(250, 249, 246, 0.3);
  overflow: hidden;
  resize: none;
}
.comment-container {
  width: 66.66%;
  position: relative;
  margin: 32px auto;
}
.commentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.commentInfo {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.display {
  display: flex;
  flex-direction: column;
}
.display-none {
  display: none;
}
.no-button {
  border: none;
  background: none;
  color:rgb(0, 123, 255);
}
.no-button:hover {
  color: #0056b3;
}
.delete-post-button {
  margin-left:auto;
}
.title, .content {
  padding: 12px;
  border-bottom: 2px solid rgb(0, 123, 255);
}
.title {
  border-radius: 4px 4px 0 0;
}
.content {
  width: 100%;
  border-radius: 0 0 4px 4px;
}
.dash {
  border-color: rgb(0, 123, 255);
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  background: none;
  color:rgb(0, 123, 255);
}

@media (max-width: 360px) {
body {
    min-width: 360px;
}
}
@media (min-width: 992px) {
.container, .container-md, .container-sm {
    max-width: 720px;
}
}