body {
  font-family: "Poppins", sans-serif;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(0, 123, 255);
}
.nav-link{
  text-align: end;
}
.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}
.container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
input[type=text], input[type=password] {
  /* background-color: rgb(250, 249, 246, 0.3); */
}
::placeholder {
  color: black;
  opacity: 1;
}
.blog-post, .blog-post:focus, .blog-post:hover {
  color: unset;
  text-decoration: unset;
}
.no-decor, .no-decor:hover {
  text-decoration: unset;
}
.title, .postInfo, .postButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.newPost, .confirm-post {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.newComment {
  display:flex;
}
textarea:disabled, textarea, .form-control, .form-control:focus {
  color: black;
  /* background-color: rgb(250, 249, 246, 0.3); */
  overflow: hidden;
  resize: none;
}
.comment-container {
  width: 66.66%;
  position: relative;
  margin: 32px auto;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.commentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.commentInfo {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.opacity-0 {
  opacity: 0;
  transition: 300ms;
  pointer-events: none;
}
.opacity-1 {
  opacity: 1;
  transition: 300ms;
}
#post-form.container {
  display: flex;
  justify-content: center;
}
/* .display-none {
  display: none;
} */
.dropdown {
  position: relative;
}
.dropdownMenu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* top: calc(100% + .25rem); */
  padding: .75rem;
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.dropdown.active > .postButtons + .dropdownMenu,
.dropdown.active > .btn + .dropdownMenu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}
.shift {
  right: 0px;
  z-index: -10;
}
.blogPost {
  padding: 8px;
  border-radius: 4px 4px 0 0;  
  /* top: 50px; */
  box-shadow: 0 -2px 5px 0 rgb(0, 0, 0, .1);
}
.myPosts {
  margin-top: 30px;
  transform: translateY(0px);
  transition: transform 300ms ease-in-out;
}
.myPosts.active {
  transform: translateY(405px);
}
.center {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.post-form-title {
  display: flex;
  justify-content: space-between;
}
.no-button {
  border: none;
  background: none;
  color:rgb(0, 123, 255);
}
.no-button:hover {
  color: #0056b3;
}
.delete-post-button {
  margin-left:auto;
}
.title, .content {
  padding: 12px;
  border-bottom: 2px solid rgb(0, 123, 255);
}
.title {
  border-radius: 4px 4px 0 0;
}
.content {
  width: 100%;
  border-radius: 0 0 4px 4px;
}
.dash {
  border-color: rgb(0, 123, 255);
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  background: none;
  color:rgb(0, 123, 255);
}

@media (max-width: 360px) {
body {
    min-width: 360px;
}
}
@media (min-width: 992px) {
.container, .container-md, .container-sm {
    max-width: 720px;
}
}